<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coffeeandcookies.curso2017">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".app"
        android:theme="@style/AppTheme">
        <activity
            android:name=".lay_listado"
            android:label="@string/title_activity_main2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".lay_bienvenido_preferencias"></activity>

        <meta-data android:name="AA_DB_NAME" android:value="MiBaseDeDatos3.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="3" />

    </application>

</manifest>